@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --main-font-family: 'Montserrat', sans-serif;
    --secondary-font-family: 'Fraunces', serif;
}

html, body {
    margin: 0;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

.card-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 28px 16px;
}

.card-component-img  {
    height: 460px;
}

.card-component-img img {
    max-width: 300px;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.card-component-info {
    padding: 32px;
    max-width: 300px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
}

.card-component-info h3 {
    color: #6C7289;
    font-family: var(--main-font-family);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 0;
}

.card-component-info h1 {
    font-family: var(--secondary-font-family);
    line-height: 32px;
    margin-bottom: 24px;
}

.card-component-info .product-info {
    color: #6C7289;
    font-family: var(--main-font-family);
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 29px;
}

.card-component-info .price-info p{
    display: flex;
    align-items: center;
    color: #3D8168;
    font-family: var(--secondary-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 30px;
}

.card-component-info .price-info span{
    color: #6C7289;
    font-family: var(--main-font-family);
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    text-decoration-line: line-through;
    padding-left: 19px;
    vertical-align: center;
}

button {
    display: block;
    color: white;
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 700;
    width: 236px;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    background-color: #3D8168;
    cursor: pointer;
}

button:active {
    background-color: #1A4032;
}

button img {
    margin-right: 10px;
}

.mobile-img {
    display: none;
}

@media (max-width: 605px) {
    .card-component {
        flex-direction: column;
    }
    .desktop-img {
        display: none;
    }
    .mobile-img {
        display: block;
    }
    .card-component-img {
        height: auto;
    }
    .card-component-img img{
        border-radius: 10px 10px 0 0;
        max-width: none;
        width: 343px;
    }
    .card-component-info {
        border-radius: 0 0 10px 10px;
        max-width: none;
        width: 343px;
    }
}