@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');

body {
    background: hsl(30, 38%, 92%);
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-family: 'Sofia Sans', sans-serif;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#bg-image {
    width: 350px;
    height: 520px;
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

section {
    width: 350px;
    height: 520px;
    box-sizing: border-box;
    padding: 30px 50px 20px 50px;
    background: white;
    border-radius: 0 10px 10px 0;
}

#sup-title {
    margin: 0 0 15px 0;
    font-size: 1.2em;
    font-family: 'Sofia Sans', sans-serif;
    letter-spacing: 6px;
}

#main-title {
    margin: 0 0 30px 0;
    font-family: 'Fraunces', serif;
    font-size: 2.5em;
    line-height: 1;
    color: hsl(212, 21%, 14%);
}

#desc {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 30px;
}

#prices {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#new-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2.5em;
    margin-right: 20px;
}

#old-price {
    text-decoration: line-through;
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background-color: hsl(158, 36%, 37%);
    padding: 15px 0;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

#btn img {
    margin-right: 10px;
}

#btn:active {
    background-color: hsl(159, 21%, 34%);
}

@media  (max-width: 500px) {
    main {
        flex-direction: column;
        height: 100vh;
        margin: 20px;
        flex-direction: center;
     }
     #bg-image {
        background-image: url("images/image-product-desktop.jpg");
        border-radius: 10px 10px 0 0;
    }
    section {
        box-sizing: border-box;
        background: white;
        border-radius: 0 0 10px 10px;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }