@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Sofia Sans", sans-serif;
    background: hsl(30, 38%, 92%);
    color: hsl(212, 21%, 14%);
}

main {
    display: flex;
    margin: 10px;
}

.info-section {
    max-width: 340px;
    padding: 35px;
    background-color: white;
    border-radius: 0 10px 10px 0;
}

picture img{
    max-width: 333px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.mayus {
    text-transform: uppercase;
}

.up-title {
    letter-spacing: 6px;
    margin-top: 0;
    margin-bottom: 15px;
    color:  hsl(228, 12%, 48%);
}

.info-text {
    margin-bottom: 20px;
    font-size: 1.3em;
    letter-spacing: 0.5px;
    color:  hsl(228, 12%, 48%);
}

p {
    line-height: 1.5;
}

h1 {
    margin-bottom: 20px;
    font-family: 'Fraunces', serif;
    font-size: 2.6em;
}

.visually-hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.prices {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.prices p {
    font-family: 'Fraunces', serif;
    font-size: 2.5em;
    color: hsl(158, 36%, 37%);
    margin-right: 20px;
}

.prices s {
    color:  hsl(228, 12%, 48%);
}

button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    background-color:hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(158, 21%, 31%);
}

button:active {
    background-color: hsl(158, 21%, 31%);
}

button img {
    margin-right: 10px;;
}

@media (max-width: 680px) {
    main {
        flex-direction: column;
    }

    .info-section {
        border-radius: 0 0 10px 10px;
        max-width: 400px;
    }

    picture img {
        max-width: 400px;
        border-radius: 10px 10px 0 0;
    }

@media (max-width: 420px) {

    .info-section {
        max-width: 300px;
    }

    picture img {
        max-width: 300px;
    }
}
}